* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
	/* primary */
	--bg-color: hsl(233, 47%, 7%);
	--card-bg: hsl(244, 38%, 16%);
	--soft-violet: hsl(277, 64%, 61%);

	/* Netural */
	--font-color: hsl(0, 0%, 100%);
	--main-paragraph: hsla(0, 0%, 100%, 0.75);
	--stat-heading: hsla(0, 0%, 100%, 0.6);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Inter', sans-serif;
	/* font-family: 'Lexend Deca', sans-serif; */
	color: var(--font-color);
	background-color: var(--bg-color);
	font-size: 1.5rem;
}

.main {
	width: min(100%, 1200px);
	margin: 2rem;
}

.bg-img {
	background-image: url('./img/image-header-mobile.jpg');
	width: 100%;
	min-height: 240px;
	position: relative;
}

.bg-shadow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	
}

.section {
	background-color: var(--card-bg);
	padding: 3rem;
}

.section h1 {
	text-align: center;
}

.section .text {
	color: var(--stat-heading);
}

.violet-color {
	color: var(--soft-violet);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
